# Environment variables
DEBUG=True
PORT=5000
FLASK_ENV=development

# Database
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/postgres

# Secret key (change this in production)
SECRET_KEY=your-secret-key-here
